body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0 0 20px;
}

h2, h3{
    color: white;
}



.contact-info {
    padding: 20px;
}

.contact-item {
    margin-bottom: 15px;
    color: rgb(240, 236, 0);
}

.contact-item p a{
    color: rgb(240, 236, 0);
}

.team-section {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    width: 150px;
    text-align: center;
}

.team-member p {
    color: rgb(240, 236, 0);
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgb(240, 236, 0);
}

.map-section {
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

.map-container {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.voltar{
    display: flex;
    position: absolute;
    right: 5%;
}

.voltar input{
    width: 180px;
    height: 30px;

    background-color: rgb(240, 236, 0);
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(240, 240, 240, 0.719);
    border: none;
    border-radius: 50px;
    transition: transform 0.3s ease;
}


input:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}

footer a {
    text-decoration: none;
    color: rgb(240, 236, 0);
}

