* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1{
    display: flex;
    position: absolute;
    top: 10%;
}

.card{
    width: 320px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    color: #fff;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: right 1.1s;
}

.card:hover  .card-body{
    right: 0;
}

.card-title{
    position: absolute;
    top: 30px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300px;
}

.card-info{
    font-size: 0.9rem;
    position: absolute;
    bottom: 30px;
}

.voltar{
    display: flex;
    position: absolute;
    top: 90%;
    right: 5%;
}

.voltar input{
    width: 180px;
    height: 30px;

    background-color: rgb(240, 236, 0);
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(240, 240, 240, 0.719);
    border: none;
    border-radius: 50px;
    transition: transform 0.3s ease;
}


input:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}