@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body, header, html {
    font-family: 'Manrope', sans-serif; /* Define a fonte global */
    background: rgb(68, 67, 67); /* Define a cor do texto */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
}
.navigation{
    background-color: rgb(68, 67, 67);
}

h1{
    color: rgb(240, 236, 0);
}
